<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog_post.title }}</title>
</head>
<body>
     <h1>{{blog_post.title}}</h1>
     <p>{{blog_post.created_at}}</p>
     <div>
        <p>{{blog_post.content}}</p>
     </div>

     {% if blog_post.author == user %}
         <a href="{% url 'edit_post' blog_post.id %}">Edit</a>
         <a href="{% url 'delete_post' blog_post.id %}">Delete</a>
      {% endif %}   


     <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>